<h3 mat-dialog-title>
    Detail
</h3>
<div mat-dialog-content>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.name">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Cat</mat-label>
        <input matInput [(ngModel)]="data.cat">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Date</mat-label>
        <input matInput [(ngModel)]="data.date">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Handphone</mat-label>
        <input matInput [(ngModel)]="data.handphone">
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Address</mat-label>
        <input matInput [(ngModel)]="data.address">
    </mat-form-field>

</div>
<div mat-dialog-action align="end">
<button mat-button mat-dialog-close>Cancel</button>
<button mat-flat-button (click)="saveData()"[disabled]="loading">{{loading ? 'Menyimpan..':'Save'}}</button>
</div>