<div *ngIf="loading" style="height: 300px;" class="uk-flex uk-flex-center uk-flex-middle">
    <mat-spinner></mat-spinner>
</div>

<mat-card *ngIf="!loading">
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="uk-flex">
            <span class="uk-width-expand"></span>
            <button mat-flat-button color="primary" (click)="AdoptDetail({},-1)">+</button>
        </div>
        <table class="uk-table uk-table-middle uk-table-divider">
            <thead>
                <th></th>                
                <th>No</th>
                <th>Name</th>
                <th>Cat</th>
                <th>Date</th>
                <th>Handphone</th>
                <th>Address</th>
            </thead>
            <tbody>
                <tr *ngFor="let cat of cats; let idx=index">
                <td>

                    <td>{{idx+1}}</td>
                    <td>{{cat.name}}</td>
                    <td>{{cat.cat}}</td>
                    <td>{{cat.date}}</td>
                    <td>{{cat.handphone}}</td>
                    <td>{{cat.address}}</td>
                    <td align="right">
                        <button mat-button color="primary" (click)="AdoptDetail(cat,idx)">Edit</button>
                        <button mat-button color="warn" (click)="DeleteAdopt(cat.id,idx)" [disabled]="loadingDelete[idx]">{{loadingDelete[idx] ? 'Menghapus..':'Cancel'}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>